.signup {
    display: grid;
    align-items: center;
    min-height: 100vh;
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    @media (width >= 24rem){
        padding: 12px;
    }
}

.leftSideController{
    width: 100%;
    max-width: 448px;
    margin-block-start: 32px;
    margin-block-end: 32px;
}

.logoDiv {
    text-align: center;
    margin-bottom: 32px;
}

.logoController {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.logo {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    box-shadow: inset 0 0 0 1000px rgba(166, 0, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputController {
    position: relative;
}

.inputImg {
    position: absolute;
    padding-left: 12px;
    align-items: center;
    display: flex;
    left: 0px;
    inset-block: 0px;
}

.showPassBtn {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0px;
    padding-right: 6px;
    inset-block: 0px;
    cursor: pointer;
}

.img {
    width: 20px;
    height: 20px;
    color: color-mix(in oklab, var(--color-base-content) 40%, transparent);
}

.submit {
    width: 100%;
    display: inline-flex;
    cursor: pointer;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-align: center;
    vertical-align: middle;
    text-decoration-line: none;
    background-color: rgba(166, 0, 255, 0.2);
    border-radius: 5px;
    padding: 5%;
    transition-duration: 0.150s;
}
.submit:hover {
    background-color: blueviolet;
}
.submit:disabled{
    cursor: not-allowed;
}

.input:is(:-webkit-autofill, :autofill) {
    box-shadow: 0 0 0 30px black inset;
  -webkit-box-shadow: 0 0 0 30px black inset;
}

.login {
    margin-top: 30px;
    text-align: center;
}

.loginController > a{ 
    color: inset 0 0 0 1000px rgba(166, 0, 255, 0.2);
    text-decoration: underline;
}

label {
    font-family: Helvetica, sans-serif;
}

input{
    font-family: Helvetica, sans-serif;
}

